p{

    margin-top: 0px;
    margin-bottom: 0px;
}
body{
    font-family: Roboto,Arial;
    margin: 0px;
    padding-top: 57px;
    padding-left: 72px;
}
a{
    text-decoration: none; /*Can give the text certain decorations*/
    color: black;
}